* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(https://png.pngtree.com/background/20220724/original/pngtree-background-estetik-polos-untuk-latar-foto-picture-image_1739284.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background: #121313;
    color: white;
    text-align: center;
    padding: 15px 30px;
    width: 100%;
    display: flex;
}

.wrapper {
    background: white;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-header {
    text-align: center;
    margin-bottom: 30px;
}

.login-header span {
    font-size: 24px;
    font-weight: 600;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s;
}

button {
    background: #fff6ef;
    color: #20c1e6;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(102, 126, 234, 0.4);
}

footer {
    background: #121313;
    color: white;
    text-align: center;
    padding: 15px 30px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.error {
    color: red;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}